@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

body {
	width: 100%;
	height: auto;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #485056 !important;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration-color: none;
	text-decoration: none;
	outline: none;
	color: inherit;
}

p {
	margin: 0;
}

iframe {
	border: none;
}

textarea {
	resize: none;
}

label {
	font-weight: 500;
}

.cursor {
	cursor: pointer;
}

/* custom bootstrap class */
.form-control,
.form-control:hover,
.form-control:active,
.form-control:focus {
	font-size: 14px;
	border-radius: 2px;
	border: 2px solid #ededed;
	height: 45px;
	box-shadow: none;
	outline: none;
}

.form-control::placeholder {
	color: #868e96;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
	border-radius: 2px;
	border: none;
	height: 45px;
	box-shadow: none;
	outline: none;
}

.noborder {
	border: none !important;
}

.dropdown button::after {
	display: none !important;
}

/* font size class */
.font-sz-large {
	font-size: 24px;
	line-height: 24px;
}

.font-sz-title {
	font-size: 18px;
}

.font-sz-medium {
	font-size: 16px;
}

.font-sz-normal {
	font-size: 14px;
}

.font-sz-small {
	font-size: 12px;
}

/* font weight class */
.font-wg-700 {
	font-weight: 700;
}

.font-wg-500 {
	font-weight: 500;
}

.font-wg-400 {
	font-weight: 400;
}

.font-wg-300 {
	font-weight: 300;
}

/* background class */
.bg-white {
	background: #ffffff !important;
}

.bg-dark {
	background: #404e67 !important;
}

.bg-grey {
	background: #f6f7fb;
}

.bg-primary {
	background: #036bae !important;
}

.bg-success {
	background: #5dba00;
}

.bg-warning {
	background: #f1c40e !important;
}

.bg-danger {
	background: #cc201f !important;
}

.bg-danger-1 {
	background: #d42681 !important;
}

/* color class */
.color-black {
	color: #000000;
}

.color-dark {
	color: #404e67;
}

.color-white {
	color: #ffffff;
}

.color-grey {
	color: #f6f7fb;
}

.color-grey-1 {
	color: #868e96;
}

.color-grey-2 {
	color: #485056;
}

.color-primary {
	color: #036bae;
}

.color-success {
	color: #5dba00;
}

.color-warning {
	color: #f1c40e;
}

.color-danger {
	color: #cc201f;
}

.color-danger-1 {
	color: #d42681;
}

/* device size */
.device-md-hide {
	display: block;
}

.device-lg-hide {
	display: none;
}

.table-hover tbody tr:hover {
	background-color: #f6f7fb !important;
	cursor: pointer;
}

.border-rd-4 {
	border-radius: 8px;
}

@media screen and (max-width: 780px) {
	.device-md-hide {
		display: none;
	}

	.device-lg-hide {
		display: initial;
	}
}

.height-vh-100 {
	min-height: 100vh;
}
